@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
  --stdwhite: #ffffff;
  --stdblack:#000000;
  --stdpink: #f7427f;
  --stdgray:#777777;
  --sec6color:#F9F9FF;
  --footerbg:#222222;
}
::selection {
  background-color: var(--stdpink);
  color: var(--stdwhite);
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 16px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
a {
text-decoration: none;
}
p{
  font-size: 14px;
}
.ctaimg{
    background-image:linear-gradient(to top, rgba(246, 46, 113, 0.8) 0%, rgba(249, 171, 114, 0.8) 100%)
    , url(../images/background/header-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.carousel-control-prev-1{
  right: 0;
  position: absolute;
  bottom: 415px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
  padding: 0;
  color: #fff;
  text-align: center;
  background: 0 0;
  border: 0;
  opacity: .5;
  transition: opacity .15s ease;
}
.main-btn-1:hover {
  color: var(--stdwhite);
}
.main-btn-1 {
  color: var(--stdblack);
}
.main-btn-1 {
  background-color: var(--stdwhite);
}
.main-btn-1:hover{
  background-color: var(--stdblack);
}
/* section 1 */
.sec-1-div-1,
.sec-1-div-2,
.sec-1-div-3{
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 5s ease; 
}
.sec-1-div-1{
  background-image: url(../images/background/f1.jpg);
}
.sec-1-div-2 {
  background-image: url(../images/background/f2.jpg);
}
.sec-1-div-3 {
  background-image: url(../images/background/f3.jpg);
}
.sec-1-div-1:hover {
  background-image: linear-gradient(to top, rgba(246, 46, 113, 0.8) 0%, rgba(249, 171, 114, 0.8) 100%),
    url(../images/background/f1.jpg);
}
.sec-1-div-2:hover {
  background-image: linear-gradient(to top, rgba(246, 46, 113, 0.8) 0%, rgba(249, 171, 114, 0.8) 100%),
    url(../images/background/f2.jpg);
}
.sec-1-div-3:hover {
  background-image: linear-gradient(to top, rgba(246, 46, 113, 0.8) 0%, rgba(249, 171, 114, 0.8) 100%),
    url(../images/background/f3.jpg);
}
.abc {
  visibility: hidden;
}
.sec-1-div-1:hover .abc,
.sec-1-div-2:hover .abc,
.sec-1-div-3:hover .abc{
  visibility: visible;
}
/* section 2 */
.sec-2{
  background-color: var(--stdblack);
}
.sec-2-h2 {
  background-image: linear-gradient(to top, rgba(246, 46, 113, 0.8) 0%, rgba(249, 171, 114, 0.8) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent; 
}
.btn-hov{
  background-color: transparent;
  color: white;
}
.btn-hov:hover{
  background-color:var(--stdwhite);
  color: var(--stdblack);
}
/* section 3 */
.sec-3-i{
  color: var(--stdgray);
}
.sec-3-i:hover{
  color:  rgba(246, 46, 113, 0.7) ;
  }
/* section 4 */
.sec-4-div-1,
.sec-4-div-2,
.sec-4-div-3,
.sec-4-div-4,
.sec-4-div-5,
.sec-4-div-6{
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* transition: all 1s ease;  */
}
.sec-4-div-1{
  background-image: url(../images/background/g1.jpg);
}
.sec-4-div-2 {
  background-image: url(../images/background/g2.jpg);
}
.sec-4-div-3 {
  background-image: url(../images/background/g3.jpg);
}
.sec-4-div-4 {
  background-image: url(../images/background/g4.jpg);
}
.sec-4-div-5 {
  background-image: url(../images/background/g5.jpg);
}
.sec-4-div-6 {
  background-image: url(../images/background/g6.jpg);
}
.sec-4-div-1:hover { 
  background-image: linear-gradient(to top, rgba(246, 46, 113, 0.8) 0%, rgba(249, 171, 114, 0.8) 100%),
    url(../images/background/g1.jpg);
}
.sec-4-div-2:hover {
  background-image: linear-gradient(to top, rgba(246, 46, 113, 0.8) 0%, rgba(249, 171, 114, 0.8) 100%),
    url(../images/background/g2.jpg);
}
.sec-4-div-3:hover {
  background-image: linear-gradient(to top, rgba(246, 46, 113, 0.8) 0%, rgba(249, 171, 114, 0.8) 100%),
    url(../images/background/g3.jpg);
}
.sec-4-div-4:hover { 
  background-image: linear-gradient(to top, rgba(246, 46, 113, 0.8) 0%, rgba(249, 171, 114, 0.8) 100%),
    url(../images/background/g4.jpg);
}
.sec-4-div-5:hover {
  background-image: linear-gradient(to top, rgba(246, 46, 113, 0.8) 0%, rgba(249, 171, 114, 0.8) 100%),
    url(../images/background/g5.jpg);
}
.sec-4-div-6:hover {
  background-image: linear-gradient(to top, rgba(246, 46, 113, 0.8) 0%, rgba(249, 171, 114, 0.8) 100%),
    url(../images/background/g6.jpg);
}
.text-hover {
  visibility: hidden;
}
.sec-4-div-1:hover .text-hover,
.sec-4-div-2:hover .text-hover,
.sec-4-div-3:hover .text-hover,
.sec-4-div-4:hover .text-hover,
.sec-4-div-5:hover .text-hover,
.sec-4-div-6:hover .text-hover{
  visibility: visible;
}
/* section 5 */
.sec-5-btn,
.f-arrow{
  color: var(--stdwhite);
  background-image: linear-gradient(to top, rgba(246, 46, 113, 1) 0%, rgba(249, 171, 114, 0.8) 100%) ;
}
.btn-icon{
  transition: transform  ease;
}
.btn-icon:hover {
  transform: translateX(10px); 
}
footer{
  background-color: var(--footerbg);
}
.f-input{
  background-color: #191919;
}
.f-hov{
  color: #777777;
}
.f-hov:hover{
 color: rgba(246, 46, 113, 1)
}
@media (min-width: 992px) {
  /* section 2 */
  .media{
    width: 75%;
  }
}